<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="bg-white shadow-md p-4">
        <h1 class="text-2xl font-bold text-center text-blue-600">YappDown</h1>
        <div class="text-center">
            <a href="{% url 'logout' %}" class="text-indigo-600 hover:text-indigo-500">Logout</a>
        </div>
        {% if is_admin %}
            <a href="{% url 'admin' %}" class="text-blue-600 hover:text-blue-800">Admin</a>
        {% endif %}
    </header>
    <main class="flex-1 p-4">
        <div class="max-w-4xl mx-auto">
            <div class="mb-4">
                <h2 class="text-xl font-bold">Storage Information</h2>
                <p>Total Storage Used: {{ total_storage_used|floatformat:2 }} MB</p>
                <p>Storage Left: {{ storage_left|floatformat:2 }} MB</p>
                <p>Max Storage: {{ max_storage }} MB</p>
            </div>
            <div class="mb-4">
                <a href="{% url 'note' %}" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 inline-block text-center">New Note</a>
                {% if notes %}
                <h2 class="text-xl font-bold">Your Notes</h2>
                <ul class="space-y-2">
                    {% for note in notes %}
                        <li class="bg-white p-4 rounded shadow-md">
                            <h3 class="text-lg font-bold">{{ note.title }}</h3>
                            <p>{{ note.content }}</p>
                            <a href="{% url 'note' note.note_ID %}" class="text-indigo-600 hover:text-indigo-500">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p class="text-gray-600">You have no notes.</p>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>