<!DOCTYPE html>
<html>
    <head>
        <title>YappDown</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>

    <header>
        {% include 'navigation.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>    
    </header>
    <body>
        <h2 class="text-2xl font-bold text-center text-blue-600">YappDown</h2>
        <div>
            <div>
                <p>Search: </p>
                <input type="text" />
            </div>
            <button>New Note</button>
            <div>
                <h3>Filter</h3>
                <p>Date created:</p>
            </div>
        </div>

        <!-- Show made notes -->
        <div id="presentNotes">
            <div id="notesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for note in notes %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="d-block w-100">
                            <h3>{{ note.title }}</h3>
                            <p>{{ note.content }}</p>
                            <small>Last updated: {{ note.lastUpdated }}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#notesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#notesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>    
    </body>
</html>